wandb
fastai==1.0.60
tensorboardX>=1.6
ffmpeg
ffmpeg-python
yt-dlp
jupyterlab
opencv-python>=4.2.0.32
Pillow==11.1.0
ipywidgets

# PyTorch (CPU version since Render doesn't have GPUs)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.13.1+cpu
torchvision==0.14.1+cpu

# API dependencies
flask
gunicorn
flask-cors
requests

# DeOldify
git+https://github.com/jantic/DeOldify.git
